@model NLayerDepotsApp.WEB.Models.DrugUnitIndexViewModel
@using NLayerDepotsApp.WEB.Helpers
@{
    ViewBag.Title = "Display";
}

<h2>List of drug units</h2>
<div class="table-responsive">
    <table class="table-bordered table-striped"  style="width:100%">
        <thead>
            <tr>
                <th class="cell"><p>Drug Type Name</p></th>
                <th class="cell"><p>Drug Unit Id</p></th>
                <th class="cell"><p>Pick Number</p></th>
                <th class="cell"><p>Depot</p></th>
            </tr>
        </thead>
        @foreach (var d in Model.DrugUnits)
        {
            <tr>
                <td class="cell"><p>@d.DrugTypeName</p></td>
                <td class="cell"><p>@d.DrugUnitId</p></td>
                <td class="cell"><p>@d.PickNumber</p></td>
                @{
                    Model.DepotsList.Where(x => x.Value == d.DepotId.ToString()).FirstOrDefault().Selected = true;
                }
                <td class="cell"><p> @Html.DropDownList("DepotId", Model.DepotsList, new { onchange = "associateDrugUnitWithDepot(this,'" + d.DrugUnitId + "')" })</p></td>
                @{
                    Model.DepotsList.Where(x => x.Value == d.DepotId.ToString()).FirstOrDefault().Selected = false;
                }
            </tr>
         }
    </table>
</div>
<br />
<div class="btn-group">
    @Html.PageLinks(Model.PageInfo, x => Url.Action("Display", new { page = x }))
</div>

@Scripts.Render("~/scripts/jquery-1.10.2.min.js")
@Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.js")

<script>
    function associateDrugUnitWithDepot(dropDownList, drugUnitId) {
        var url = "/DrugUnits/AssociateDrugUnitWithDepot/";
        $.post(url, {
            "id": dropDownList.options[dropDownList.selectedIndex].value,
            "drugUnitId": drugUnitId
        }, function (data) {
        });
    };
</script>

<style>
    .cell{
        padding-top: 1%; 
        padding-left: 1%;
    }
</style>