@model NLayerDepotsApp.WEB.Models.DrugTypesInDepotViewModel
@{
    ViewBag.Title = "EnterQuantity";
}

<div>
    @if (Model.AvailableDrugTypes.Count > 0)
    {
        using (Html.BeginForm())
        {
            <input type="hidden" value="@Model.DepotId" name="DepotId" />
            <h3>Enter quantity of stored drug types on the depot:</h3>
            <table>
                @for (int i = 0; i < Model.AvailableDrugTypes.Count; i++)
                {
                    <tr>
                        <td>@Html.HiddenFor(m => m.AvailableDrugTypes[i].DrugTypeId)</td>
                        <td>@Html.HiddenFor(m => m.AvailableDrugTypes[i].DrugTypeName)</td>
                        <td>@Html.LabelFor(m => m.AvailableDrugTypes[i].DrugTypeName, Model.AvailableDrugTypes[i].DrugTypeName) </td>
                        <td>@Html.EditorFor(m => m.AvailableDrugTypes[i].Quantity) </td>
                    </tr>
                }
            </table>
            <input type="submit" value="Calculate" style="height:25px; width:80px" />
        }
    }
    else
    {
        <h2>Selected depot dosen't contain any drug units for sending</h2>
    }
</div>